
<app-header></app-header>

<div class="banniere">

  <div class="divSearch">
    <input type="text" placeholder="Please ..." />
    <button type="submit">Rechercher</button>
  </div>

</div>

<div class="appContainer" role="main">
  
  <!-- <h1>{{ title }} app is running!</h1> -->
  
  <p class="product-result">Resultat: 12 articles</p>


  <table>
    <thead>
      <tr>
        <th id="forId">ID</th>
        <th id="forImg"><button>Image</button></th>
        <th id="forName">Nom du produit</th>
        <th id="forCode">Code</th>
        <th id="forPrice">Prix</th>
        <th id="forNote">Note(s)</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let i for i of [1,2,3,4,5,6]">
        <td>654564546</td>
        <td>Avatar</td>
        <td>Produit test</td>
        <td>HG-5420-DF</td>
        <td>500 fcfa</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>

</div>

